

/* 054a91
d6fff6
231651
4dccbd
ff8484  */


html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
   height: 100%;
   overflow-x: hidden;
}



/*------------------------------------------------Navbar */

nav {
    -webkit-box-shadow: 0 7px 10px #050505b3;
    -moz-box-shadow: 0 7px 10px #050505b3;
    box-shadow: 0 7px 10px #050505b3; 
    height: 110px;
    background-color: #151650;
    border-color: #4dccbd;
    top: 0;
    transition: top 1.5s;
}

#logo {
    height: 100px;
    padding-top: 5px;
}

#logo>img:hover {
    transition: 1s ease-in-out;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#logo>img {
    height: 100px;
    transition: 1s ease-in-out;
}


ul.nav>li>a {
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    font-size: 15pt;
    transition: 0.5s ease-in-out;
}

ul.nav>li>a:hover {
    color: #4dccbd;
    background-color: transparent;
}

.navbar-toggle {
    background-color: #ffffff;
    border: 1px solid #4dccbd;
    border-radius: 4px;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    margin-top: 40px;
    margin-bottom: 40px;
}

.navbar-collapse {
    background-color: #151650;
}

.icon-bar {
    background-color: #4dccbd;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-toggle:hover {
    background-color: #4dccbd;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.navbar-toggle:hover>.icon-bar {
    background-color: #ffffff;
}

.navbar-collapse.in {
    margin-top: -5px;
}

@media (min-width: 768px) { 
    ul.nav {
        padding-top: 30px;
    }
}

/*------------------------------------------------Jumbotron */

div.jumbotron {
    margin-bottom: 0px;
    color: #4dccbd;
    background: url('../images/cover1.jpg');
    background-size: cover;
    height: 575px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 575px;
    width: 100%;
    background-color: rgba(0, 0, 15, 0.4);
}

#callout {
    margin-top: 100px;
    padding-bottom: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
}

#callout>h1,
h3 {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}

.lead {
    color: #d6fff6;
}

.text-muted {
    color: #ffffff;
}

button.submit {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.12);
    font-family: 'Montserrat Alternates', sans-serif;
}

@media (min-width: 768px) { 
    div.jumbotron {
        height: 550px;
        text-shadow: black 0px 0px 20px;
    }
    .opaque-overlay {
        height: 550px;
    }
}

/*------------------------------------------------Inspiration */

#inspiration {
    padding-bottom: 20px;
    background-color: #ffffff;
    color: #054a91;
    /* box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.12); */
    box-shadow: inset 0px 14px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 30pt;
    text-shadow: #4dccbd 0px 0px 4px;
}

.photoSlides>img {
    width: 100%;
    border-radius: 20px;
}

.photoSlides>.text {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.photoSlides {
    display: none;
}

#prev {
    border-radius: 20px 0px 0px 20px;
}

#next {
    border-radius: 0px 20px 20px 0px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.numbers {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    opacity: 1;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.content {
    text-align: center;
}

input {
    border-radius: 8px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

#photo-input, 
button.submit,
#weather-input,
#weather-date {
    margin-bottom: 10px;
}

#photo-carousel-elements,
.item,
img {
    border-radius: 20px;
}

#photo-carousel-elements > .item > img {
    width: 100%;
    border-radius: 20px;
}

.left {
    border-radius: 25px 0px 0px 25px;
}

.right {
    border-radius: 0px 25px 25px 0px;
}


/*------------------------------------------------Flights */

.color2 {
    background-image: linear-gradient(to right, #d6fff6, #d6f6ff);
    box-shadow: 
        inset 0px 7px 7px rgba(0, 0, 0, 0.12), 
        inset 0px -7px 7px rgba(0, 0, 0, 0.12);
    margin-left: -5px;
    margin-right: -5px;
}

.flights {
    padding-bottom: 20px;
}

.section-header {
    text-align: center;
}

#skyscanner {
    width: 70%;
    margin-left: 15%;
}

label>span {
    font-size: medium;
    font-family: 'Montserrat Alternates', sans-serif;
}

a.bpk-button,
div._2Q5YyVOtkLdAcusYyiofsh,
input.dXDjXIHWpFXVULtU69-q6._3j-Q87aIEAG2gGW6gVkCR0 {
    font-family: 'Montserrat Alternates', sans-serif;
}


div._31KAFUGo-fXs_-z5ngJ_pt>input._2M51Fh5xcvwmaeuGBgSk1x,
div._212jACm3Qvbr7mg9TLrgzC>label.bpk-radio {
    font-size: small;
    font-family: 'Montserrat Alternates', sans-serif;
}


/*------------------------------------------------Weather */

.weather {
    color: #054a91;
}


.content>p {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat Alternates', sans-serif; 
    transition: 1 ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out; 
}


#weather-results {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
}


#results-location {
    text-align: center;
    margin-bottom: 10px;
}

#weather-box {
    transition: 1 ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.shown {
    display: inline-block;
}

.weather-container {
    display: inline-block;
    box-shadow: 
        0px -7px 7px rgba(0, 0, 0, 0.12),
        0px 7px 7px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 225px;
}

.weather-container>div,
.weather-container>img {
    transition: 1 ease-in-out;
    -moz-transition: all 1 ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}



.weather5 {
    margin-left: 27.5%;
    margin-right: 27.5%;
}

.weather-container>.date {
    padding-top: 10px;
}

.weather-container>img {
    padding-top: 5px;
}

#weather-history {
    width: 100%;
}

#history-box {
    width: 50%;
    height: 25%;
    margin-left: 25%;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

#history-fail {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .weather-container {
        width: 15%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 220px;
    }
}
/*------------------------------------------------Nearby */

.color3 {
    background-image: linear-gradient(to right, #4dccbd, #4dcc9b);
   /* background-color: #4dccbd; */
    color: #054a91;
    box-shadow: 
        inset 0px 7px 7px rgba(0, 0, 0, 0.12), 
        inset 0px -7px 7px rgba(0, 0, 0, 0.12);
    margin-left: -5px;
    margin-right: -5px;
} 

.nearby {
    padding-bottom: 20px;
}

.search {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

#search-container {
    display: inline-block;
    vertical-align: middle;
}

#search-bar {
    margin-bottom: 10px;
    min-width: 300px;
}

#dropdownTypeButton {
    min-width: 224px;
}

.dropdown-item {
    padding-left: 5px;
}

button.dropdown-toggle {
    margin-bottom: 0;
}

#type-dropdown>div:hover {
    background-color: #deecf7;
    color: #151650;
}

#type-dropdown>div:hover >a {
    color: #151650;
}

#type-dropdown>div>a:hover {
    color: #151650;
    text-decoration: none;
}


.radios {
    font-family: 'Montserrat Alternates', sans-serif;
}

.alert {
    z-index: 1;
    position: relative;
    vertical-align: middle;
    text-align: center;
}


#map {
    border-radius: 20px; 
    min-height: 500px;
}


@media (min-width: 768px) {
    .search {
        min-height: 500px;
    }
}

/*------------------------------------------------Useful Info */

#useful-info {
    padding-bottom: 15px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#country-dropdown>div:hover {
    background-color: #deecf7;
    color: #151650;
}

#country-dropdown>div:hover >a {
    color: #151650;
}

#country-dropdown>div>a:hover {
    color: #151650;
    text-decoration: none;
}

#info-results {
    font-family: 'Montserrat Alternates', sans-serif;
}

tr {
    padding-bottom: 2px;
}

tr>th {
    width: 5%;
}

td {
    padding: 5px;
}

th {
    text-align: right;
}

img.flag {
    width: 100%;
    box-shadow: 
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}


/*------------------------------------------------Bottom Photo */

#photo-container {
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0px -7px 7px rgba(0, 0, 0, 0.12);
}


.bottom-photo {
    background: url('../images/cover3.jpg') center center;
    background-size: cover;
    height: 400px;
    padding-bottom: 50px;
}

/*------------------------------------------------Footer */

footer {
    padding: 15px;
    background-color: #151650;
    -webkit-box-shadow: 0 -7px 10px #050505b3;
    -moz-box-shadow:0 -7px 10px #050505b3;
    box-shadow: 0 -7px 10px #050505b3;
}

ul.footer {
    text-align: center;
    margin-bottom: 0;
}

.footer>li {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding-right: 10px;
}

ul.footer>li>a {
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    font-size: 12pt;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}

ul.footer>li>a:hover {
    color: #4dccbd;
    background-color: transparent;
    text-decoration: none;
}






